
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutPages.cshtml";
}

<div class="jumbotron">
    <h1>Sistema de Registro de Login</h1>
    <p class="Lead">Este es un ejemplo de Registro de Login utilizando DBML.</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns based way to build dynamic websites...
            
        </p>
        <p><a class="btn btn-default" href="www.google.com">Leer Mas</a></p>
    </div>
    <div class="col-md-4">
        <h2>get more libraries</h2>
    </div>
    <div class="col-md-4">
        <h2>Web hosting</h2>
    </div>
</div>